<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="Description" content=pageDescription)
    meta(name="theme-color" content="#6c648b")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Rebecca Collins, LISW
    link(rel="stylesheet", href="./css/styles.css")
    

  body
    nav.navigation

      .navigation__top__bar

        .navigation__logo
          a(href="/")
            img(src="./images/logo.png", alt="spiral mosaic art work")

        .navigation__menu
          ul
            li  
             a(href="/") home
            li
              a(href="/areasOfTreatment") areas of treatment
            li
              a(href="/aboutSexTherapy") about Sex therapy
            li
              a(href="/treatmentApproach") treatment approach
            li
              a(href="/appointmentInfo") appointment Info
            li
              a(href="/location") location
            li
              a.button(href="/contactMe") contact me
        a.open__button(href="#")
          img(src="./images/icons/open_icon.svg", alt="")


    if heroImage
      section.hero
          img(src=heroImage, alt="")
          section.name
            if title
              h1 #{ title }
            if subTitle
              h2 #{ subTitle }
    if gallery
      section.gallery
        section.main-img
          img(src="./images/office-pic2.jpg", alt="")
          img(src="./images/office-pic.jpg", alt="")
          
  

    nav.mobile__navigation
      .mobile__menu
        a.close__button(href="#") &times;
        a(href="/") home
        a(href="/areasOfTreatment") areas of treatment
        a(href="/aboutSexTherapy") about Sex therapy
        a(href="/treatmentApproach") treatment approach 
        a(href="/appointmentInfo") appointment Info
        a(href="/location") location
        a.mobile__button(href="/contactMe") contact me
      
    section.main__content
      block content

    block scripts
      script(src="./js/main.js")
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=initMap`)